* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

:root {
  --title-color: #202020;
}

header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--title-color);
  margin: 0;
}

.content {
  padding: 2rem 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  color: white;
  background-color: #222222;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.pagination button:hover {
  background-color: #131313;
}

@media screen and (min-width: 768px) {
  .content {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1115px) {
  .content {
    max-width: 1115px;
    margin: 0 auto;
  }
}