.pokemons-list {
  list-style: none; 
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 0.5rem;
  padding: 0;
  margin: 0;
}

.pokemon-card {
  display: inline-block;
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
  background-color: #48d0b0;
  color: #fdfeff;
  margin-bottom: 1rem;
}

.bug {
  background-color: #a7b723;
}

.normal {
  background-color: #aaa67f;
}

.grass {
  background-color: #74cb48;
}

.fire {
  background-color: #f57d31;
}

.water {
  background-color: #6493eb;
}

.electric {
  background-color: #f9cf30;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a43e9e;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

.pokemon-name {
  margin: 0;
  font-size: 1.3rem;
  text-transform: capitalize
}

.pokemon-image {
  max-width: 100%;
  height: 100px;
}

.pokemon-number {
  color: #2c364175;
  font-size: 1.4rem;
  text-align: right;
}

.pokemon-content {
  display: flex;
  flex-direction: column;
}

.pokemon-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.types {
  list-style: none;
  padding: 0;
}

.type-item {
  margin-top: 0.5rem;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.5rem;
  filter: brightness(1.1);
}

@media screen and (min-width: 379px) {
  .pokemons-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .pokemons-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1115px) {
  .pokemons-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}